.filter {
    margin-top: 1rem;
}

.inputFilter, #filterOption {
    background: #222;
    border: none;
    outline: none;
    padding: .5rem;
    overflow: auto;
    color: #fff;
    border-radius: 3px;
    margin-right: .5rem;
    font-size: 1rem;
}

#filterOption {
    margin-left: .5rem;
}

.inputFilter:-webkit-autofill,
.inputFilter:-webkit-autofill:hover, 
.inputFilter:-webkit-autofill:focus, 
.inputFilter:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #333;
}