.noteComponent {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: 2rem auto;
}

.textArea {
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

#noteTitle {
    font-size: 3rem;
}

#noteText{
    height: 150px;
    resize: none;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
}

#noteTitle, #noteText{
    background-color: transparent;
    color: #fff;
    margin-bottom: .5rem;
    overflow: auto;
}

#noteTitle, #noteTitle:focus, #noteText, #noteText:focus {
    border: none;
    outline: none;
    padding: .5rem;
}

.noteButtons {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-self: flex-end;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #333;
}

@media (max-width: 1000px) {
    .noteComponent {
        width: 750px;
    }
}
 
@media (max-width: 768px) {
    .noteComponent {
        width: 590px;
    }
}

@media (max-width: 600px) {
    .noteComponent {
        width: 425px;
    }

    #noteTitle {
        font-size: 2.5rem;
    }

    #noteText {
        font-size: 1.2rem;
    }
}

@media (max-width: 425px) {
    .noteComponent {
        width: 300px;
    }

    #noteTitle {
        font-size: 2rem;
    }

    #noteText {
        font-size: 1rem;
    }
}