.cardNote {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 1rem 2rem;
    cursor: pointer;
}

.cardNote:hover {
    opacity: 0.7;
}

#cardTitle {
    align-self: flex-start;
    font-size: 2rem;
}

#cardText {
    font-size: 1.2rem;
}

#cardText, #cardTitle {
    align-self: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
}

.buttons{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}

@media (max-width: 425px) {
    .cardNote {
        padding: .5rem;
    }

    #cardTitle {
        font-size: 1.5rem;
    }
    
    #cardText {
        font-size: 1rem;
    }
}