.cardNote {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 1rem 2rem;
}

#cardTitle {
    align-self: flex-start;
}

#cardText {
    align-self: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
}

.buttons{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}
