.App {
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
}

.cardButtons {
  display: flex;
  justify-content: space-between;
  width: 300px;
  align-self: flex-end;
}

.newNote {
  margin: 0 auto;
}

@media (max-width: 600px) {
  .cardButtons {
    align-self: center;
  }
}